[Oo]bj
[Bb]in
*.user
*.suo
*.[Cc]ache
*.bak
*.pdb
*.exe
*.ncb
*.log 
*.DS_Store
[Tt]humbs.db 
_ReSharper.*
*.resharper
Ankh.NoLoad
SLNetworkComm.dll
/Libs/Hunspellx64.dll
/Libs/Hunspellx86.dll
/Libs/License.rtf
/Libs/License_METAbolt.rtf
/Libs/MB.ico
/Libs/MBLSL.xml
/Libs/MB_Tray.ico
/Libs/METAbolt Support.url
/Libs/MuteList.xml
/Libs/OpenMetaverse.dll.config
/Libs/README.txt
/Libs/SciLexer.dll
/Libs/SciLexerx64.dll
/Libs/TP_History.xml
/Libs/config/DefaultPredicates.xml
/Libs/config/GenderSubstitutions.xml
/Libs/config/Person2Substitutions.xml
/Libs/config/PersonSubstitutions.xml
/Libs/config/Settings.xml
/Libs/config/Splitters.xml
/Libs/config/Substitutions.xml
/Libs/license.txt
/Libs/notify.wav
/Libs/openmetaverse_data/avatar_lad.xml
/Libs/openmetaverse_data/blush_alpha.tga
/Libs/openmetaverse_data/body_skingrain.tga
/Libs/openmetaverse_data/bodyfreckles_alpha.tga
/Libs/openmetaverse_data/bump_face_wrinkles.tga
/Libs/openmetaverse_data/bump_head_base.tga
/Libs/openmetaverse_data/bump_lowerbody_base.tga
/Libs/openmetaverse_data/bump_pants_wrinkles.tga
/Libs/openmetaverse_data/bump_shirt_wrinkles.tga
/Libs/openmetaverse_data/bump_upperbody_base.tga
/Libs/openmetaverse_data/eyebrows_alpha.tga
/Libs/openmetaverse_data/eyeliner_alpha.tga
/Libs/openmetaverse_data/eyeshadow_inner_alpha.tga
/Libs/openmetaverse_data/eyeshadow_outer_alpha.tga
/Libs/openmetaverse_data/eyewhite.tga
/Libs/openmetaverse_data/facehair_chincurtains_alpha.tga
/Libs/openmetaverse_data/facehair_moustache_alpha.tga
/Libs/openmetaverse_data/facehair_sideburns_alpha.tga
/Libs/openmetaverse_data/facehair_soulpatch_alpha.tga
/Libs/openmetaverse_data/freckles_alpha.tga
/Libs/openmetaverse_data/glove_length_alpha.tga
/Libs/openmetaverse_data/gloves_fingers_alpha.tga
/Libs/openmetaverse_data/head_alpha.tga
/Libs/openmetaverse_data/head_color.tga
/Libs/openmetaverse_data/head_hair.tga
/Libs/openmetaverse_data/head_highlights_alpha.tga
/Libs/openmetaverse_data/head_shading_alpha.tga
/Libs/openmetaverse_data/head_skingrain.tga
/Libs/openmetaverse_data/jacket_length_lower_alpha.tga
/Libs/openmetaverse_data/jacket_length_upper_alpha.tga
/Libs/openmetaverse_data/jacket_open_lower_alpha.tga
/Libs/openmetaverse_data/jacket_open_upper_alpha.tga
/Libs/openmetaverse_data/lipgloss_alpha.tga
/Libs/openmetaverse_data/lips_mask.tga
/Libs/openmetaverse_data/lipstick_alpha.tga
/Libs/openmetaverse_data/lowerbody_color.tga
/Libs/openmetaverse_data/lowerbody_highlights_alpha.tga
/Libs/openmetaverse_data/lowerbody_shading_alpha.tga
/Libs/openmetaverse_data/nailpolish_alpha.tga
/Libs/openmetaverse_data/pants_length_alpha.tga
/Libs/openmetaverse_data/pants_waist_alpha.tga
/Libs/openmetaverse_data/rosyface_alpha.tga
/Libs/openmetaverse_data/rouge_alpha.tga
/Libs/openmetaverse_data/shirt_bottom_alpha.tga
/Libs/openmetaverse_data/shirt_collar_alpha.tga
/Libs/openmetaverse_data/shirt_collar_back_alpha.tga
/Libs/openmetaverse_data/shirt_sleeve_alpha.tga
/Libs/openmetaverse_data/shoe_height_alpha.tga
/Libs/openmetaverse_data/skirt_length_alpha.tga
/Libs/openmetaverse_data/skirt_slit_back_alpha.tga
/Libs/openmetaverse_data/skirt_slit_front_alpha.tga
/Libs/openmetaverse_data/skirt_slit_left_alpha.tga
/Libs/openmetaverse_data/skirt_slit_right_alpha.tga
/Libs/openmetaverse_data/underpants_trial_female.tga
/Libs/openmetaverse_data/underpants_trial_male.tga
/Libs/openmetaverse_data/undershirt_trial_female.tga
/Libs/openmetaverse_data/upperbody_color.tga
/Libs/openmetaverse_data/upperbody_highlights_alpha.tga
/Libs/openmetaverse_data/upperbody_shading_alpha.tga
/Libs/openmetaverse_data/upperbodyfreckles_alpha.tga
/SamplePlugin/app.config
